doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title= title
        link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous") 
    body.bg-secondary
        center
            h1= title
        hr
        div(style="margin: 50px 35% 50px 35%")
            form(action="/home/login", method="post") 
                label.form-label.mx-2= "Email"
                input.form-control.rounded.shadow-lg(type="text" name="email" id="email" placeholder="Email")
                br
                label.form-label.mx-2= "Password"
                input.form-control.rounded.shodow-lg(type="password" name="password", id="password" placeholder="Password")
                br
                span.text-danger= error
                center 
                    input.btn.btn-success.rounded.shadow-lg(type="submit" value="Login" style="padding: 10px 40px")